@import 'application';

.button {
  &:disabled {
    background-color: #bca498;
  }
}

.text-icon-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.sensitive {
  &.inverted.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.status__collapse-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.column {
  flex-grow: 1 !important;
}

.status__content__spoiler-link {
  font-weight: 800;
}

.landing-page {
  .header-wrapper {
    .mascot {
      position: absolute;
      bottom: 0px;
      width: auto;
      height: 70%;
      left: 60px;
    }
  }
}

#whitelist {
  ul {
    columns: 3 250px;
  }
}
