@import 'application';
@import 'landing_page';

.button {
  &:disabled {
    background-color: #bca498;
  }
}

.text-icon-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.sensitive {
  &.inverted.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.status__collapse-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.column {
  flex-grow: 1 !important;
}

.status__content__spoiler-link {
  font-weight: 800;
}

.landing-page {
  .header-wrapper {
    .mascot {
      position: absolute;
      bottom: 0px;
      width: 75%;
      height: auto;
      left: 0px;
    }
  }
}

#whitelist {
  ul {
    columns: 3 250px;
  }
}

.drawer {
  @for $i from 0 through 3 {
    &.mbstobon-#{$i} > .contents {
      background-image: none;
      filter: none;
      & > .mastodon {
        background: url("~images/mastodon-getting-started.png") no-repeat left bottom / contain;
	filter: none;
      }
    }
  }
}

.sensitive-info {
  left: 26px;
}

.status__info {
  padding-left: 68px;
}

.status {
  padding-left: 0;
}

.status__action-bar {
  padding-left: 12px;
}

.status .status__content {
  padding: 0 12px;
}

.media-gallery.full-width {
  margin-left: unset;
}

.status {
  .notification__message {
    margin: -10px 0 10px 90px !important;
  }
}

.boost-modal__status-header .status__display-name {
  padding-left: 78px;
}
