.button {
  &:disabled {
    background-color: #bca498;
  }
}

.text-icon-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.sensitive {
  &.inverted.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.status__collapse-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.column {
  flex-grow: 1 !important;
}

.status__content__spoiler-link {
  font-weight: 800;
}

.landing-page {
  .header-wrapper {
    .mascot {
      position: absolute;
      bottom: 0px;
      width: 75%;
      height: auto;
      left: 0px;
    }
  }
}

#whitelist {
  ul {
    columns: 3 250px;
  }
}

#whitelist-column {
  grid-row: 4;
}

@media screen and (max-width: 415px) {
  #whitelist-column {
    grid-row: 5;
  }
}

.drawer {
  @for $i from 0 through 3 {
    &.mbstobon-#{$i} > .contents {
      background-image: none;
      filter: none;
      & > .mastodon {
        background: url("~images/mastodon-getting-started.png") no-repeat left bottom / contain;
	filter: none;
      }
    }
  }
}

.sensitive-info {
  left: 26px;
}

.status__content {
  padding: 0;
  // hmm
}
