- if DomainWhitelist.enabled?
  .box-widget#whitelist
    .rich-formatting
      %h3= t 'about.domain_whitelist'
      %ul
        - @instance_presenter.whitelist.each do |site|
          .whitelist-site
            %li
              = link_to site.domain, 'https://' + site.domain
              = raw(AllowDomainService.silenced?(site.domain) ? ' (silenced)' : '')
